body{
    color: rgb(255, 255, 255);
    background-color: rgb(226, 103, 103);
}

.heading{
    width: 80%;
    font-size: 22px;
}

.name_of_objects, #result_object_name, #result_objecy_accuracy{
    color: rgb(255, 255, 255);
}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

#result{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}